* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", "Arial", sans-serif;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
    height: auto;
}

.page-content {
    padding: 60px 30px;
}

.letter-title {
    text-transform: uppercase;
}

.banner-intro {
    background-color: #cccccc;
    width: 100%;
    padding: 60px 20px;
    border-radius: 20px;
    background-image: url("https://i.ibb.co/G2mZ98k/Rectangle-3banner-CAT.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-intro__info {
    margin: 0 auto 85px;
    width: 600px;
    border-radius: 20px 120px 20px 120px;
    overflow: hidden;
    box-shadow: 5px 5px 10px 0px #ACE0F999;
    ;
}

.banner-intro__img {
    width: 100%;
    height: 350px;
}

.banner-intro__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 62px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #ffff;
    margin: 0 0 60px;
}

.banner-intro__product-inner {
    background-color: #fff;
    padding: 45px 45px 50px;
}

.banner-intro__product-title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #444444;
    margin: 0 0 30px;
}

.banner-intro__product-text {
    font-size: 20px;
    line-height: 26px;
    color: #444444;
    text-align: center;
    width: 400px;
    margin: 0 auto 35px;
    
}

.banner-intro__product-price {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.banner-intro__link {
    display: block;
    font-size: 26px;
    line-height: 32px;
    text-decoration: none;
    color: #444444;
    background-color: #fff;
    width: 376px;
    padding: 21px;
    border-radius: 30px;
    text-align: center;
    margin: 0 auto 48px;
}

.banner-intro__note {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFF;
    width: 530px;
    margin: 0 auto 0;
    text-align: center;
}

.banner-intro__product-price {
    display: block;
}